@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #FFFFFF;
    
}

.slider__slide{
    position: absolute;
    width: 936px;
    height: 540px;
    transform: translateX(-50%);
    left: 50%;
    border-radius: 16px;
    border: 1px solid #AEAEAE1F;
    background-color: #F6F6F8;
    z-index: 0;
    transition: 0.5s;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}
.active-slide {
    opacity: 1;
    visibility: visible;
}

.title-functional{
    text-align: center;
    color: #292424;
    letter-spacing: -2%;
    line-height: 64px;
    font-size: 40px;
    font-weight: 500;
    padding: 14px 0 0 0;
    font-family: 'Rubik';
}

.img-email{
    position: relative;
    top: 57.33px;
    left: 60px;
}
.title-clients{
    position: relative;
    top: 65px;
    left: 60px;
    font-size: 32px;
    line-height: 43.71px;
    letter-spacing: -2%;
    font-weight: 600;
    color: #292424;

    font-family: 'Manrope';
}
.descr-clients{
    position: relative;
    top: 75px;
    left: 60px;
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: -2%;
    font-weight: 500;
    color: #949494;
    font-family: 'Manrope';
}
.box-emails{
    position: relative;
    top: 138.53px;
    left: 190px;
    z-index: 1;
}
.box__plan-emails{
    position: relative;
    top: -91px;
    left: 483px;
    z-index: 2;
}
.box__girl-slider{
    z-index: 3;
}
.img__girl-slider{
    position: relative;
    top: -545px;
    left: 507.5px;
    z-index: 3;
}
.slider__slide:nth-child(2){
}
.box__emails-archive{
    position: relative;
    top: 143.53px;
    left: 190px;
    z-index: 1;
}
.box__date__time-picker{
    position: relative;
    top: -161px;
    left: 650px;
    z-index: 3;
}
.slider__slide:nth-child(3){
}
.box__rating-operators{
    position: relative;
    top: 138.53px;
    left: 190px;
    z-index: 1;
}
.box__score-quality{
    position: relative;
    top: -136px;
    left: 516px;
    z-index: 2;
}
.img__score-quality{
    width: 420px;
    height: 245px;
}
.slider__slide:nth-child(4){
}
.box__form-4{
    position: relative;
    top: 138.53px;
    left: 190px;
    z-index: 1;
}
.form__slider-4{
    position: relative;
    top: -216px;
    left: 595px;
    z-index: 2;
}
.slider__slide:nth-child(5){
}
.box-dialogue{
    position: relative;
    top: 138.53px;
    left: 190px;
    z-index: 1;
}
.dialogue{
    position: relative;
    top: -221px;
    left: 595px;
    z-index: 2;
}
.slider__slide:nth-child(6){
}
.box-files{
    position: relative;
    top: 138.53px;
    left: 190px;
    z-index: 1;
}
.file-explorer{
    position: relative;
    top: -231px;
    left: 600px;
    z-index: 2;
}
.slider__slide:nth-child(7){
}
.box__info-source{
    position: relative;
    top: 143.53px;
    left: 200px;
    z-index: 1;
}
.info-source{
    position: relative;
    top: -196px;
    left: 604px;
    z-index: 3;
}

.box-control{
    position: relative;
    width: 238px;
    height: 68px;
    display: flex;
    background-color: transparent;
    transform: translateX(-50%);
    left: 50%;
    top: 550px;
    margin-top: 33px;
    margin-bottom: 14px;
    align-items: center;
    justify-content: space-between;
}
.arrow-prev{
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.arrow-next{
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.block-cirkel{
    width: 118px;
    height: 10px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.span-cirkel{
    width: 12px;
    height: 8px;
    background-color: #d9d9d9;
    border-radius: 100%;
}